@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body
{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar-transition {
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.dropdown-transition {
    transition: max-height 0.3s ease-in-out, opacity 0.2s ease;
}
@media (max-width: 768px) {
    .mobile-menu {
        transform: translateX(-100%);
    }
    .mobile-menu.active {
        transform: translateX(0);
    }
}